In [82]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [83]:
dataset = pd.read_json('dev_akademi.json')

In [84]:
dataset.head()

,ad_bid_price_kurus,ad_call_to_action,ad_daily_budget_kurus,ad_description,ad_id,ad_title,event_category,event_date,event_type,id,viewer_birt_year,viewer_education,viewer_gender,viewer_job,viewer_marital_status,viewer_user_city,viewer_user_id
0,1000.0,8b36e9 6f041af,200000.0,8b36e9 ee1a793907 0ba 29c8ae3130 529230e5a4a 6...,10,6e809498e59 8b36e9 509f987 cc77d627 1650f9 d6badc,İkinci El ve Sıfır Alışveriş,1.514756e+09,IMPRESSION,1,1975.0,Üniversite,E,Özel Sektör,Evli,İstanbul,3622
1,160.0,362131e 862,2000.0,918dde365e8 b28d 30414de2 c 55 cd4b502 0172072...,13,b4fa8676d 1a02f0171 4602 b3a3eaaedc1,Emlak,1.514757e+09,IMPRESSION,2,1975.0,Üniversite,E,Özel Sektör,Evli,İstanbul,3622
2,160.0,362131e 862,2000.0,918dde365e8 b28d 30414de2 c 55 cd4b502 0172072...,13,b4fa8676d 1a02f0171 4602 b3a3eaaedc1,Emlak,1.514757e+09,IMPRESSION,3,1975.0,Üniversite,E,Özel Sektör,Evli,İstanbul,3622
3,1000.0,8b36e9 6f041af,200000.0,8b36e9 ee1a793907 0ba 29c8ae3130 529230e5a4a 6...,10,6e809498e59 8b36e9 509f987 cc77d627 1650f9 d6badc,İkinci El ve Sıfır Alışveriş,1.514766e+09,IMPRESSION,4,1979.0,Üniversite,E,Serbest Meslek,Evli,Düzce,2156
4,1000.0,8b36e9 6f041af,200000.0,8b36e9 ee1a793907 0ba 29c8ae3130 529230e5a4a 6...,10,6e809498e59 8b36e9 509f987 cc77d627 1650f9 d6badc,İkinci El ve Sıfır Alışveriş,1.514766e+09,IMPRESSION,5,1979.0,Üniversite,E,Serbest Meslek,Evli,Düzce,2156

In [85]:
dataset = dataset[['ad_bid_price_kurus','ad_call_to_action', 'ad_daily_budget_kurus', 'ad_title', 'ad_id', 'ad_description', 'event_type', 'event_category']]

In [86]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101557 entries, 0 to 101556
Data columns (total 8 columns):
ad_bid_price_kurus       101506 non-null float64
ad_call_to_action        101534 non-null object
ad_daily_budget_kurus    101518 non-null float64
ad_title                 101509 non-null object
ad_id                    101557 non-null int64
ad_description           101525 non-null object
event_type               101520 non-null object
event_category           101525 non-null object
dtypes: float64(2), int64(1), object(5)
memory usage: 6.2+ MB

In [87]:
dataset.dropna().info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 101295 entries, 0 to 101556
Data columns (total 8 columns):
ad_bid_price_kurus       101295 non-null float64
ad_call_to_action        101295 non-null object
ad_daily_budget_kurus    101295 non-null float64
ad_title                 101295 non-null object
ad_id                    101295 non-null int64
ad_description           101295 non-null object
event_type               101295 non-null object
event_category           101295 non-null object
dtypes: float64(2), int64(1), object(5)
memory usage: 7.0+ MB

In [88]:
df = dataset.dropna()

In [89]:
df = df[df.ad_call_to_action != ""]
df = df[df.event_type != ""]

In [90]:
modify_df = df[['ad_bid_price_kurus', 'ad_daily_budget_kurus', 'ad_id', 'event_type']]

In [91]:
modify_df = pd.concat([modify_df, pd.get_dummies(modify_df.event_type, prefix='event')], axis=1)

In [92]:
modify_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 101223 entries, 0 to 101556
Data columns (total 6 columns):
ad_bid_price_kurus       101223 non-null float64
ad_daily_budget_kurus    101223 non-null float64
ad_id                    101223 non-null int64
event_type               101223 non-null object
event_CLICK              101223 non-null uint8
event_IMPRESSION         101223 non-null uint8
dtypes: float64(2), int64(1), object(1), uint8(2)
memory usage: 4.1+ MB

In [93]:
modify_df

,ad_bid_price_kurus,ad_daily_budget_kurus,ad_id,event_type,event_CLICK,event_IMPRESSION
0,1000.0,200000.0,10,IMPRESSION,0,1
1,160.0,2000.0,13,IMPRESSION,0,1
2,160.0,2000.0,13,IMPRESSION,0,1
3,1000.0,200000.0,10,IMPRESSION,0,1
4,1000.0,200000.0,10,IMPRESSION,0,1
5,1000.0,200000.0,10,IMPRESSION,0,1
6,120.0,120000.0,16,IMPRESSION,0,1
7,120.0,120000.0,16,IMPRESSION,0,1
8,260.0,4000.0,18,IMPRESSION,0,1
9,400.0,40000.0,14,IMPRESSION,0,1
10,1000.0,200000.0,10,IMPRESSION,0,1
11,400.0,40000.0,14,IMPRESSION,0,1
12,120.0,120000.0,16,IMPRESSION,0,1
13,1000.0,200000.0,10,IMPRESSION,0,1
14,1000.0,200000.0,10,IMPRESSION,0,1
15,120.0,120000.0,16,IMPRESSION,0,1
16,120.0,120000.0,16,IMPRESSION,0,1
17,120.0,120000.0,16,IMPRESSION,0,1
18,120.0,120000.0,16,IMPRESSION,0,1
19,1000.0,200000.0,10,IMPRESSION,0,1
20,120.0,120000.0,16,IMPRESSION,0,1
21,1000.0,200000.0,10,IMPRESSION,0,1
22,120.0,120000.0,16,IMPRESSION,0,1
23,120.0,120000.0,16,CLICK,1,0
24,120.0,120000.0,16,IMPRESSION,0,1
25,120.0,120000.0,16,IMPRESSION,0,1
26,120.0,120000.0,16,IMPRESSION,0,1
27,120.0,120000.0,16,IMPRESSION,0,1
28,120.0,120000.0,16,IMPRESSION,0,1
29,120.0,120000.0,16,IMPRESSION,0,1
...,...,...,...,...,...,...
101527,840.0,40000.0,160,IMPRESSION,0,1
101528,840.0,40000.0,160,IMPRESSION,0,1
101529,480.0,24000.0,46,IMPRESSION,0,1
101530,840.0,40000.0,160,IMPRESSION,0,1
101531,840.0,40000.0,160,IMPRESSION,0,1
101532,3800.0,40000.0,85,IMPRESSION,0,1
101533,3800.0,40000.0,85,IMPRESSION,0,1
101534,840.0,40000.0,160,IMPRESSION,0,1
101535,800.0,40000.0,44,IMPRESSION,0,1
101536,840.0,40000.0,160,IMPRESSION,0,1
101537,200.0,2000.0,2,IMPRESSION,0,1
101538,840.0,40000.0,160,IMPRESSION,0,1
101539,840.0,40000.0,160,IMPRESSION,0,1
101540,840.0,40000.0,160,IMPRESSION,0,1
101541,840.0,40000.0,160,IMPRESSION,0,1
101542,480.0,24000.0,46,IMPRESSION,0,1
101543,200.0,2000.0,2,IMPRESSION,0,1
101544,3800.0,40000.0,85,IMPRESSION,0,1
101545,480.0,24000.0,46,IMPRESSION,0,1
101546,220.0,3200.0,139,IMPRESSION,0,1
101547,220.0,3200.0,139,CLICK,1,0
101548,3800.0,40000.0,85,IMPRESSION,0,1
101549,480.0,24000.0,46,IMPRESSION,0,1
101550,840.0,40000.0,160,IMPRESSION,0,1
101551,840.0,40000.0,160,IMPRESSION,0,1
101552,840.0,40000.0,160,IMPRESSION,0,1
101553,840.0,40000.0,160,IMPRESSION,0,1
101554,840.0,40000.0,160,IMPRESSION,0,1
101555,480.0,24000.0,46,IMPRESSION,0,1
101556,240.0,2000.0,40,IMPRESSION,0,1

In [94]:
grouped_df = modify_df.groupby(['ad_bid_price_kurus','ad_daily_budget_kurus'])['event_CLICK', 'event_IMPRESSION'].sum()

In [95]:
grouped_df

                                          event_CLICK  event_IMPRESSION
ad_bid_price_kurus ad_daily_budget_kurus
0.0                8000.0                         0.0               4.0
                   10000.0                        0.0               1.0
                   14000.0                        0.0               2.0
                   20000.0                        0.0               3.0
                   30000.0                        0.0               1.0
                   32000.0                        0.0               3.0
                   40000.0                        0.0               2.0
                   60000.0                        0.0               2.0
                   80000.0                        0.0               7.0
                   220000.0                       0.0               3.0
120.0              0.0                            0.0               9.0
                   1200.0                         0.0             110.0
                   2000.0                         0.0              12.0
                   3200.0                         0.0              52.0
                   4000.0                         4.0              92.0
                   6000.0                         4.0              59.0
                   8000.0                         2.0             199.0
                   10000.0                        2.0             281.0
                   12000.0                       14.0             690.0
                   16000.0                        3.0             144.0
                   20000.0                       29.0            3106.0
                   28000.0                        6.0             732.0
                   30000.0                       14.0             974.0
                   32000.0                      132.0            9028.0
                   40000.0                        1.0             110.0
                   80000.0                       13.0            1923.0
                   120000.0                       7.0            1056.0
124.0              120000.0                       0.0              22.0
128.0              0.0                            0.0               3.0
                   8000.0                         3.0             211.0
...                                               ...               ...
1300.0             40000.0                        0.0              12.0
1400.0             0.0                            0.0               1.0
                   20000.0                        0.0               3.0
                   36000.0                        0.0              57.0
                   40000.0                        7.0             392.0
                   48000.0                        1.0             188.0
                   60000.0                        6.0             493.0
                   80000.0                        2.0              80.0
                   120000.0                      12.0            1224.0
1520.0             40000.0                        5.0              99.0
1600.0             0.0                            0.0               1.0
                   12000.0                        3.0             115.0
                   30000.0                        3.0              65.0
                   60000.0                        3.0             194.0
1604.0             120000.0                       0.0               5.0
1800.0             20000.0                        2.0             133.0
                   30000.0                        0.0              30.0
                   120000.0                       0.0             127.0
1996.0             30000.0                        0.0              54.0
                   60000.0                        1.0              52.0
                   80000.0                        0.0              21.0
                   100000.0                       2.0             143.0
2200.0             20000.0                        4.0             139.0
                   40000.0                       10.0             456.0
2600.0             30000.0                        0.0               1.0
3196.0             60000.0                        5.0             206.0
3800.0             30000.0                        0.0               1.0
                   40000.0                        0.0             144.0
4000.0             0.0                            0.0               1.0
                   1200000.0                      4.0             496.0

[303 rows x 2 columns]

In [97]:
grouped_df = grouped_df.assign(conversion_rate= (grouped_df.event_CLICK/grouped_df.event_IMPRESSION)*100)

In [98]:
ready_df = grouped_df.reset_index().drop(['event_CLICK','event_IMPRESSION'], axis=1)

In [99]:
ready_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 3 columns):
ad_bid_price_kurus       303 non-null float64
ad_daily_budget_kurus    303 non-null float64
conversion_rate          303 non-null float64
dtypes: float64(3)
memory usage: 7.2 KB

In [100]:
from sklearn.model_selection import train_test_split

In [120]:
X = ready_df.drop(['conversion_rate'], axis=1)
y = ready_df.conversion_rate

In [125]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [126]:
from sklearn.ensemble import RandomForestRegressor

In [127]:
regressor = RandomForestRegressor()

In [128]:
y_train

174      0.000000
300      0.000000
29       1.421801
42       0.000000
52       0.000000
296      2.192982
138      0.000000
160      2.380952
230      0.562852
121      4.400000
99       1.449275
302      0.806452
288      1.503759
181      0.473934
113    100.000000
20       0.933677
23       1.462118
56       3.846154
31       1.195815
143      0.946746
127      0.000000
51       0.000000
217      1.002506
5        0.000000
39       0.000000
28       0.000000
210      0.000000
218      1.428571
137      0.000000
269      1.515152
          ...
207      0.000000
81       1.449275
226     14.285714
165      2.127660
48       1.550388
107      1.483051
120      0.000000
77       0.000000
294      1.398601
238      3.225806
175      1.116279
299      0.000000
83       1.555300
279      1.217039
114      2.380952
141      9.090909
147      0.000000
47       2.797203
236      0.000000
59       4.347826
136      0.000000
257      1.805054
144      0.000000
222      0.000000
229      0.613497
290      0.000000
126      1.856764
271      1.185771
111      0.000000
200      1.287554
Name: conversion_rate, Length: 212, dtype: float64

In [129]:
regressor.fit(X_train, y_train)

/Users/recepinanc/devakademi/venv/lib/python3.6/site-packages/sklearn/ensemble/forest.py:248: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [137]:
from sklearn.metrics import mean_absolute_error, r2_score

In [138]:
y_pred = regressor.predict(X_test)

In [139]:
mean_absolute_error(y_test, y_pred)

1.7656503506254746

In [140]:
r2_score(y_test, y_pred)

-0.17545786675250774